@page
@model InteractiveFamilyTree.RazorPage.Pages.MemberPage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>

    .image-style {
        width: 50px;
        height: 50px;
    }

</style>


<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                    <img src="@item.Image" alt="" class="image-style" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
                @{
                    String birthday = item.Birthday.ToString("yyyy-MM-dd");
                }
            <td>
                    @Html.DisplayFor(modelItem => birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
